

.form{
  min-height: calc(100% - 48px);
}

.form-body{
  padding-left: 16px;
  padding-right: 16px;
}

.form__close{
  display: none;
}

.form-row {
  display: block;
}

.form-col-left {
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
}

.form-col-right{
  width: 100%;
  margin-left: 0;
}

.form-input{
  font-size: 15px;
}

.date-formatted{
  font-size: 15px;
}

.timelabel{
  display: inline;
}


.datetime{
  flex-wrap: wrap;
}

.date {
  min-width: 100%;
  margin-bottom: 8px;
}

.time{
  width: 100%;
}

.time-start{
  flex-basis: 50%;
}

.time-start label{
  display: none;
}

.time-end{
  flex-basis: 50%;
}

.time-end label{
  display: none;
}

.time-divider:before{
  padding-top: 0;
}

.user-input-container{
  width: 100%;
}

.checkbox-user + .checked-user{
  width: 100%;
}



.checked-user__avatar{
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.checked-user__avatar img{
  width: 100%;
}

.checked-user__name{
  font-size: 15px;
  line-height: 19px;
}

.checked-user__delete{
  display: block;
  float: right;
  padding-top: 4px;
  margin-right: 8px;
}

.recommendation-header{
  margin-top: 20px;
}

.recommend-room + label {
  padding: 12px 0 13px 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.room-time {
  margin-right: 12px;
}

.room-name {
  font-size: 15px;
}

.room-floor {
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.clear-radio{
  top:10px;
}

.form-message{
  padding: 16px 13px 12px 13px;
}

.divider{
  display: block;
  background-color: #E9ECEF;
  height: 8px;
  margin-left: -16px;
  margin-right: -16px;
}

.form-edit-footer{
  text-align: right;
  padding-right: 16px;
}

.form-edit-footer .button_type_delete{
  display: none;
}

.button-delete-mob{
  display: block;
  width: 100%;
  font-size: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
}

