.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}


.icon-plus {
  fill: #FFF;
  margin-top: 6px;
}

.icon-edit {
  fill: #000;
  margin-top: 4px;
}

.icon-arrow-left {
  margin-top: 4px;
}

.icon-arrow-right {
  margin-top: 4px;
}

.icon-arrow-up {
  margin-top: 4px;
  opacity: 0.43;
}

.icon-close {
  margin-top: 4px;
  opacity: 0.43;
}

.icon-close_color_white {
  fill: #FFF;
  margin-top: 4px;
}
