
/*
.svg-icon {
  width: 1em;
  height: 1em;

  path,
  polygon,
  rect {
    fill: #4691f6;
  }

  circle {
    stroke: #4691f6;
    stroke-width: 1;
  }
}


#main {
  width: 400px;
  margin: 2em auto;
}

.datePicker {
  &Label, &Selector {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 1.5em;
  }

  &Selector {
    padding: 0;
    margin-top: 1em;
    overflow: hidden;
    display: none;

    moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &.active {
      display: block;
    }

    &Table {
      width: 100%;
      border-collapse: collapse;

      tr {
        border-bottom: 1px solid #eee;
        &:last-child { border-bottom: 0 }
      }

      td {
        padding: 1em;
        border-right: 1px solid #eee;
        &:last-child { border-right: 0 }
      }

      &Header {
        &CurrentMonth {
          text-align: center
        }

        &PreviousMonth, &NextMonth {
          display: block;
          margin: auto;
          path { fill: black };
          &:hover path { fill: #4691f6 };
          cursor: pointer;
        }
      }

      &Days {
        &:hover {
          background: lighten(#e3effe, 4%);
        }

        &, &NotInMonth {
          cursor: pointer;
        }

        &, &Header, &NotInMonth, &Selected {
          text-align: center;
        }

        &Header {
          font-weight: bold;
        }

        &NotInMonth {
          color: #ddd;

          &:hover {
            background: #fdffdd;
          }
        }

        &Selected {
          background: #e3effe;
          border-left: 0;
          cursor: default;
        }
      }
    }
  }

  &Caret {
    transform: rotate(90deg);
    margin-top: 0.18em;
    float: right;

    path {
      fill: #444;
    }
  }

  &Label:hover {
    border-color: #4691f6;

    .datePicker {
      &Caret path {
        fill: #4691f6;
      }
    }
  }
}

*/

.datePickerSelector {
  z-index: 30;
  display: none;
  position: absolute;
  left: 24px;
  top: 46px;
  width: 604px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 1px 8px 0 rgba(0,44,92,0.28);
  border-radius: 4px;
  padding: 16px;
  font-family: inherit;
}

.datePickerSelector.active{
  display: block;
}

.datePickerSelectorTable{
  width: 100%;
  font-size: 13px;
  background-color: #f6f7f9;
}

.datePickerSelectorTableHeader{
  background-color: white;
}

.datePickerSelectorTableHeader td{
  text-align: center;
  padding: 0 5px 10px 5px;
}

.datePickerSelectorTableHeaderCurrentMonth{
  font-size: 15px;
  text-transform: capitalize;
  font-weight: bold;
}

.datePickerSelectorTableDaysHeader td{
  text-align: center;
  font-weight: bold;
  padding: 10px 5px;
}


.datePickerSelectorTableDaysNotInMonth,
.datePickerSelectorTableDaysSelected,
.datePickerSelectorTableDays {
  text-align: center;
  border: 1px solid rgba(19,100,205,0.10);
  letter-spacing: 0.4px;
  padding: 5px 8px;
  font-weight: bold;
  font-size: 13px;
  color: #858E98;
  cursor: pointer;
}


.datePickerSelectorTableDays{

}

.datePickerSelectorTableDaysSelected{
  background-color: #007DFF;
  color: white;
}

.datePickerSelectorTableDaysNotInMonth{
  opacity: 0.6;
}
.datePickerSelectorTableDaysNotInMonth:hover,
.datePickerSelectorTableDaysSelected:hover,
.datePickerSelectorTableDays:hover {
  background-color: #98A9B9;
  color: white;
}